body {
  background-image: url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus.jpeg);
  background-repeat: no-repeat;
  /* background-size: auto; */
  /* background-position: center; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  text-align: center;
}
label {
  /* display: flex; */
  margin-top: 0.8em;
  flex-direction: row;
  flex-wrap: nowrap;
}
#submit {
  width: 200px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
input {
  height: 1.8em;
}
