body {
  background-image: url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus.jpeg);
}
.container {

}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
