*{
    box-sizing: border-box;
    margin: 0;
}
.controller {
    margin: 1em;
    margin-left: 2em;
    margin-top: 23em;
}
#checked {
    margin-left: 2em;
}
#colores {
    width: 100px;
    height: 2em;

}
#colores option {
    font-size: 1em;
}
img {
    margin-bottom: 1em;
    width: 300px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.traffic {
    z-index: 1;
}
.functionality {
    display: flex;
}
.checkbox {
    display: flex;   
}
.checkbox p {
    margin-left: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}
.active {
    font-weight: bold;
}
.lights {
    z-index: 2;
    width: 180px;
    left: 5.5%;
    animation: fadeIn 1s;
}
.red {
    top: 4.4%;
}
.yellow {
    top: 13%;
}
.green {
    left: 6.5%;
    top: 22.8%;
    width: 155px;
}
/* ANIMACIÓN */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}